body{
  overflow-x: hidden;
}
#sidebar-wrapper{
  z-index: 1;
  position: absolute;
  width: 250px;
  height: auto;
  min-height: 1000px;
  overflow-y: hidden;
  background: #0e2735;
  
}
#page-content-wrapper{
  left: 50px;
  width: 100%;
  position: absolute;
  padding-top: 15px;
  z-index: 0;
  background:white;
  height: auto;
  min-height: 1000px;
  padding-left: 200px;
  padding-right: 30px;
}
#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 0px;
  z-index: 1;
}
#wrapper.menuDisplayed #sidebar-wrapper{
  z-index: 0;
}
.sidebar-nav{
  padding: 0px;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 10px;
  line-height: 40px;
}
.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}
.sidebar-nav li a:hover{
  background-color: #16A085;
}
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}





/*inpage*/
.canvas{
  background-color: white;
  
}